/* Small only */
@media screen and (max-width: 39.9375em) {
  .img-container img {
    display: none;
  }

  #top-section {
    background-color: white;
    color: #3F6897;
  }

  #top-section h1 {
    font-size: 1.25rem;
    text-align: center;
  }

  #top-section h2 {
    text-align: center;
  }
}


/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .img-container img {
    display: none;
  }

  #top-section {
    background-color: white;
    color: #3F6897;
  }

  #top-section h1 {
    font-size: 1.25rem;
    text-align: center;
  }

  #top-section h2 {
    text-align: center;
  }

}
/* Large and up */
@media screen and (min-width: 64em) {

  .headline {
    width: 100%;
    height: auto;
  }
  .img-container {
    height: 100%;
    width: auto;
  }

  .img-container img {
    width: 100%;
    height: auto;
  }

  #top-section {
    background: url(blue_background@2x.png) no-repeat;
    text-align: center;
    color: white;
  }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
}

body {
    font-family: 'Roboto', sans-serif;
}


hr {
  width: 10%;
}


.img-container {
  background-color: #3F6897;
  color: white;
}

.img-container h1, h2, p {
  padding-left: 1rem;
  padding-bottom: 1rem;
  text-align: left;
}

.img-container a {
    color: white;
  }

.callout {
  color: dimgray;
  border: none;
  margin-top: 20px;
}

.callout h4 {
  color: #333333;
}
